/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Raleway:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-collapse-item {
  margin: 8px 5px;
}

.ant-collapse-item-active>.ant-collapse-header {
  background-color: rgb(224 247 250 / var(--tw-bg-opacity));
  border-radius: 0.475rem;
}

.ant-collapse-item>.ant-collapse-header:hover {
  background-color: rgb(224 247 250 / var(--tw-bg-opacity));
  border-radius: 0.475rem;
}

.no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none !important;
}

.no-scroll::-webkit-scrollbar {
  display: none !important;
}

@layer utilities {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}